/*
* Ajustes preliminares
*/ 
*{
    box-sizing: border-box;
    
}
body{
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
   
    
}
.container {
    min-height: 100vh;
    width: 900px;
    margin: 0 auto;
}
.clearfixParent {
    overflow: hidden;
}
h2 {
    font-size: 2rem;
    padding: 0.5em 0.75rem;
}
h3 {
    font-size: 1.8rem;
    padding: 0.5em 0.75rem;
}
p {
    padding: 0.5em 0.75rem;
}


/* 
*  Estílos de la cabecera
*/

.headerbar{
    background-color: #444;
    height: 5rem;
    margin: 1rem auto;
    
}


.logo {
    height: 2.5rem;
    width: 8rem;
    background-color: lightgray;
    float: left;
    margin: 1.2rem;

}
.redes-sociales {
    margin: auto 0;
    float: right;
    margin: 1.3rem;
    
}
.redes-sociales>img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: lightgray;
}

/*
* Estílos navbar
*/
.navbar {
    width: 900px;
    margin: 1rem 0;
    background-color: whitesmoke;
    overflow-y: hidden;
}

/* Trabajando con Divs e inline-block, obtengo el espaciado entre divs, aunque necesito modificar el último*/

/* Nota: No he encontrado forma de usar float sin que tenga que usar margin, dejando la distribución desajustada */

.navbar>div{
    display: inline-block;
    width: calc(98%/5);
    height: 2.5rem;
    text-align: center;
    background-color: darkgray;
}
.navbar>div:last-child{
    width: 20%;
}
.navbar>div>a {
    color: lightyellow;
    display: block;
    height: 100%;
}
.navbar>div:hover {
    background-color: thistle;
}


/*
*   Estílos elementos destacados
*/

.destacados {
    width: 900px;
    height: 12rem;
    margin: 1rem 0;
}

/* Requiere de improvización, la clave width, margin, y margin sobre el primero y último hijo */

.destacados>div {
    float: left;
    width: 31.7%;
    margin: 0 1.15%;
    height: 100%;
    background-color: darkgray;
}
.destacados>div:first-child{
    margin-left: 0;
}
.destacados>div:last-child{
    margin-right: 0;
    float: right;
}

/*
* Estilos Main
*/

.main {
    height: 25rem;
    background-color: darkgray;
    margin: 1rem 0;
}

.article-wrapper {
    width: 50%;
    margin: 0 auto;
    background-color: #444;
    height: 100%;
}


/*
* Estilos Footer
*/

.footer {
    height: 5rem;
    background-color: #444;
    margin: 1rem 0;
}